<template>
    <div class="container">
        <section class="section">
            <h1 class="title">Pokedex</h1>
            <div>
                <router-view></router-view>
            </div>
        </section>
    </div>
</template>
<script>
    export default {}
</script>
