<template>
    <div class="users">
        <div v-if="error" class="error">
            <p>{{ error }}</p>
            <p>
                <button @click.prevent="fetchData">
                    Try Again
                </button>
            </p>
        </div>
        <div class="loading" v-if="loading">
            Loading...
        </div>

        <div v-if="error" class="error">
            {{ error }}
        </div>
        <div class="field">
            <div class="control">
                <input
                    class="input is-primary"
                    type="text"
                    id="queryBox"
                    tabindex="0"
                    ref="search"
                    autofocus
                    placeholder="Look up.."
                    style="max-width: 980px;"
                    v-model="q"
                />
            </div>
        </div>
        <div v-if="pokes">
            <div class="columns is-12" v-for="i in Math.ceil(pokes.length / 5)">
                <div v-for="(poke, index) of pokes.slice((i - 1) * 5, i * 5)">
                    <div class="column is-three-quarters"
                         style="min-width: 200px;">
                        <div class="tile">
                            <article class="tile is-child box" :style="{background: getBackground(poke)}">
                                <img :src="getImage(poke)">
                                <p class="subtitle">{{poke.name}}</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                index: 0,
                loading: false,
                pokes: null,
                error: null,
                q: '',
                colorCodes: {
                    poison: '#A040A0',
                    grass: '#78C850',
                    fire: '#F08030',
                    flying: '#A890F0',
                    water: '#6890F0',
                    bug: '#A8B820',
                    normal: '#A8A878',
                    electric: '#F8D030',
                    ground: '#E0C068',
                    fairy: '#E0C068',
                    fighting: '#C03028',
                    psychic: '#F85888',
                    ice: '#98D8D8',
                    ghost: '#705898',
                    dark: '#705848',
                    dragon: '#705848',
                }
            };
        },
        watch: {
            // whenever question changes, this function will run
            q: function (newQ, oldQ) {
              //  this.answer = 'Waiting for you to stop typing...'
                if (this.q.length > 0) {
                    this.fetchData();

                    this.$refs.search.focus();
                }
            }
        },
        created() {
            this.fetchData();
        },
        mounted() {
            this.$refs.search.focus();

        },
        methods: {
            getBackground(poke) {
              if (poke.types.length == 2) {
                 return 'linear-gradient(90deg, '+this.colorCodes[poke.types[0].name]+' 50%, '+this.colorCodes[poke.types[1].name]+' 50%)';
              } else {
                  return this.colorCodes[poke.types[0].name];
                  // poke.types[0].name
              }
            },
            getImage(poke) {
              return poke.image;
            },
            fetchData() {
                this.error = this.pokes = null;
                // this.loading = true;
                axios
                    .get('/api/pokemonfull?q='+this.q+'&limit=20')
                    .then(response => {
                        // console.log(response);
                        this.loading = false;
                        this.pokes = response.data.results;
                        this.$refs.search.focus();
                    }).catch(error => {
                        this.loading = false;
                        this.error = error.response.data.message || error.message;
                        document.getElementById("queryBox").focus();

                });
                }
            }
    }
</script>
